:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* Start box */
.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.f-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }
}

.d-block {
    display: block;
}

/* End box */
/* Start padding + margin */
.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-15 {
    padding-left: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-50 {
    margin-right: 50px;
}

.m-20 {
    margin: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mt-0 {
    margin-top: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.m-0 {
    margin: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* End padding + margin */
/* Start color */
.bg-white {
    background-color: white;
}

.c-black {
    color: black;
}

.bg-eee {
    background-color: #eee;
}

.c-grey {
    color: gray;
}

.bg-blue {
    background-color: var(--blue-color);
}

.c-white {
    color: white;
}

.c-blue {
    color: #0075ff;
}

.c-orange {
    color: var(--orange-color);
}

.c-green {
    color: var(--green-color);
}

.bg-orange {
    background-color: #f59e0b;
}

.c-red {
    color: var(--red-color);
}

.bg-red {
    background-color: #f44336;
}

.bg-green {
    background-color: #22c55e;
}

.bg-f6 {
    background-color: #f6f6f6;
}

/* End color */
/* Start width + height */
.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.h-2 {
    height: 2px;
}

.h-4 {
    height: 4px;
}

.h-full {
    height: 100%;
}

.h-100 {
    height: 100px;
}

/* Start width + height */
/* Start posision */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* End posision */
/* Start font */
.txt-c {
    text-align: center;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-25 {
    font-size: 25px;
}

.fw-bold {
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}

/* End font */
/* Start border */
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-half {
    border-radius: 50%;
}

.b-none {
    border-style: none;
}

.border-ccc {
    border: 1px solid #ccc;
}

.border-eee {
    border: 1px solid #eee;
}

.b-btn-eee {
    border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}

/* End border */
/* Start components */
.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Start components */